<!DOCTYPE html>
<header>
    <h1>Zoe Potts' Made By</h1>
        <ol>
            <li>
                <a href="index.html">Home </a>
                <a href="introduction.html">Introduction </a>
                <a href="contract.html">Contract </a>
                <a href="brand.html">Brand </a>
                <a>FizzBuzz|<a href="fizzbuzz0.html">0</a>|<a href="fizzbuzz1.html">1</a>|<a href="fizzbuzz2.html">2</a>|<a href="fizzbuzz3.html">3</a>| </a>
                <a href="fizzbuzz1.html">FizzBuzz1 </a>
                <a href="fizzbuzz2.html">FizzBuzz2 </a>
                <a href="fizzbuzz3.html">FizzBuzz3 </a>
            </li>
        </ol>
</header>