<!DOCTYPE html>
<header>
    <h1>Zoe Potts' Made By</h1>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                    <a href="introduction.html">Introduction</a>
                    <a href="contract.html">Contract</a>
                    <a href="brand.html">Brand</a>
                    <span>FizzBuzz:</span>
                    <li><a href="fizzbuzz0.html">0&#9733;</a></li>
                    <li><a href="fizzbuzz1.html">1&#9733;</a></li>
                    <li><a href="fizzbuzz2.html">2&#9733;</a></li>
                    <li><a href="fizzbuzz3.html">3&#9733;</a></li>
                </li>
            </ul>
        </nav>
</header>