body
{
  margin: 100px;
  font-family: 'Gill Sans';
  color: rgb(10, 8, 32);
  background-color: rgba(230, 132, 171, 0.733);
  font-size: 200%;
}
header 
{
  font-family: garamond;
  color:rgb(70, 70, 248);
  font-size: 200%;
}
ol
{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(73, 8, 73);
}
a:hover {
  color: rgb(240, 0, 120);
}
h1
{
  color: rgb(245, 245, 4);
  font-size: 100%;
  font-family: garamond;
  background-color: rgba(141, 140, 141, 0.342);
}
figcaption {
  font-size: 70%;
}
