body
{
  margin: 100px;
  font-family: Tahoma;
  color: rgb(28, 23, 83);
  background-color: rgba(230, 132, 171, 0.733);
  font-size: 180%;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  background-color: rgba(243, 134, 194, 0.767);
  width: 100%;
  height: 50%;
  margin: 30px;
  box-sizing: border-box;
  border: 3px solid rgba(136, 33, 161, 0.781);
  padding: 20px;
  margin: auto;
  font-size: 80%;
}
p {
  font-size: 85%;
}
header {
  font-family: Trebuchet MS;
  font-size: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1200px;
}
@media (max-width: 1150px) {
  header {
    padding: 10px;
 }
  h1 img {
    height: 70px;
  }
}
@media (max-width: 600px) {
  header {
    padding: 10px;
    font-size: 1em;
 }
  h1 img {
    height: 70px;
  }
}
nav {
  list-style-type: none;
  font-size: 95%;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav ul li {
  display: inline;
}
nav ul li a, nav ul li span {
  text-decoration: none;
  color: rgb(73, 8, 73);
  margin-right: 40px;
}
nav ul li a:last-child, nav ul li span:last-child {
  margin-right: 0;
}
a:hover {
  color: rgb(240, 0, 120);
}
h1 {
  font-size: 130%;
  color: rgb(85, 11, 73);
  font-family: Trebuchet MS;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}
h2 {
  font-size: 110%;
  color: rgb(85, 11, 73);
  font-family: Trebuchet MS;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
}
figure {
  text-align: center;
  font-size: 80%;
}
figcaption {
  font-style: italic;
}
h3 {
  text-align: left;
  font-size: 90%;
}
.custom-list {
  list-style-type: disc;
  font-size: 90%;
}
.custom-list ol {
  font-size: 100%;
}
footer {
  text-align: center;
  font-size: 90%;
}
footer ul {
  list-style-type: none;
}
.column {
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: rgb(73, 8, 73);
}
footer ul li a {
  text-decoration: none;
  color: rgb(73, 8, 73);
}
h4 {
  font-style: italic;
  font-size: 80%;
}
input[type="submit"] {
  margin-top: 20px;
}
input[type="submit"]:hover {
  background-color: rgba(10, 107, 35, 0.767);
  box-shadow: 0px 0px 30px rgba(4, 245, 24, 0.712);
  color: white;
}
input[type="reset"] {
  margin-top: 20px;
  margin-bottom: 40px;
}
input[type="reset"]:hover {
  background-color: rgb(196, 7, 7);
  box-shadow: 0px 0px 30px rgba(245, 4, 4, 0.712);
  color: white;
}
label {
  font-size: 90%;
}
input {
  margin: 10px;
}
section {
  text-align: center;
  justify-content: left;
}
#output1 {
  text-align: left;
  line-height: .6;
}
input[id="mname"] {
  width: 149px;
}
h1 img {
  float: left;
  margin-top: -10px;
}
h1 img:nth-child(2) {
  float: right;
}
hr {
  border: none;
  border-top: 5px solid rgb(136, 33, 161, 0.781);
  width: 80%;
}
p a {
  font-style: italic;
}