body
{
  margin: 100px;
  font-family: Tahoma;
  color: rgb(28, 23, 83);
  background-color: rgba(255, 185, 213, 0.808);
  font-size: 180%;
  max-width: 1200px;
  margin: 0 auto;
}
main > article {
  background-color: rgba(243, 134, 194, 0.767);
  width: 100%;
  height: 50%;
  margin: 30px;
  box-sizing: border-box;
  border: 3px solid rgba(136, 33, 161, 0.781);
  padding: 20px;
  margin: auto;
}
header 
{
  font-family: Tahoma;
  font-size: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
ol
{
  list-style-type: none;
}
header ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
header ol li {
  display: inline;
}
header ol li a {
  text-decoration: none;
  color: rgb(73, 8, 73);
  margin-right: 40px;
}
header ol li a:last-child {
  margin-right: 0;
}
a:hover {
  color: rgb(240, 0, 120);
}
span {
  text-align: center;
}
h1, h2 {
  color: rgb(85, 11, 73);
  font-size: 110%;
  font-family: Trebuchet MS;
  background-color: rgba(250, 65, 188, 0.692);
  border: 2px solid rgb(136, 33, 161, 0.781);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
figure {
  text-align: center;
  font-size: 80%;
}
figcaption {
  font-style: italic;
}
h3 {
  text-align: center;
}
.custom-list {
  list-style-type: disc;
}
footer {
  text-align: center;
  font-size: 90%;
}
.container {
  display: flex;
}
.column {
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: rgb(73, 8, 73);
}
footer ol li a {
  text-decoration: none;
  color: rgb(73, 8, 73);
}
p a {
  font-weight: bold;
}
article {
  font-size: 80%;
}